/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

.nv-d-none { display: none !important; }
.nv-d-inline { display: inline !important; }
.nv-d-inline-block { display: inline-block !important; }
.nv-d-block { display: block !important; }
.nv-d-table { display: table !important; }
.nv-d-table-row { display: table-row !important; }
.nv-d-table-cell { display: table-cell !important; }
.nv-d-flex { display: flex !important; }
.nv-d-inline-flex { display: inline-flex !important; }
