/**
* Copyright (c) 2018 The Nuinalp Authors.nv- All rights reserved.nv-
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.nv-
*/

.nv-flex-row { flex-direction: row !important; }
.nv-flex-column { flex-direction: column !important; }
.nv-flex-row-reverse { flex-direction: row-reverse !important; }
.nv-flex-column-reverse { flex-direction: column-reverse !important; }

.nv-flex-wrap { flex-wrap: wrap !important; }
.nv-flex-nowrap { flex-wrap: nowrap !important; }
.nv-flex-wrap-reverse { flex-wrap: wrap-reverse !important; }
.nv-flex-fill { flex: 1 1 auto !important; }

.nv-justify-content-start { justify-content: flex-start !important; }
.nv-justify-content-end { justify-content: flex-end !important; }
.nv-justify-content-center { justify-content: center !important; }
.nv-justify-content-between { justify-content: space-between !important; }
.nv-justify-content-around { justify-content: space-around !important; }

.nv-align-items-start { align-items: flex-start !important; }
.nv-align-items-end { align-items: flex-end !important; }
.nv-align-items-center { align-items: center !important; }
.nv-align-items-baseline { align-items: baseline !important; }
.nv-align-items-stretch { align-items: stretch !important; }

.nv-align-content-start { align-content: flex-start !important; }
.nv-align-content-end { align-content: flex-end !important; }
.nv-align-content-center { align-content: center !important; }
.nv-align-content-between { align-content: space-between !important; }
.nv-align-content-around { align-content: space-around !important; }
.nv-align-content-stretch { align-content: stretch !important; }

.nv-align-self-auto { align-self: auto !important; }
.nv-align-self-start { align-self: flex-start !important; }
.nv-align-self-end { align-self: flex-end !important; }
.nv-align-self-center { align-self: center !important; }
.nv-align-self-baseline { align-self: baseline !important; }
.nv-align-self-stretch { align-self: stretch !important; }
