/**
* Copyright (c) 2019 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

.nv-ripple-outer {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.nv-ripples {
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.nv-ripple {
  background-color: $light-gray;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: scale(0);
  width: 100%;
}

.nv-ripple-enter {
  animation: ripple $transtion-moviment 800ms;
  animation-fill-mode: forwards;
}

@keyframes ripple {
  from {
    opacity: 0.4;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(4);
  }
  // 25% {
  //   opacity: 0.4;
  //   transform: scale(0);
  // }

  // 50% {
  //   opacity: 0.4;
  //   transform: scale(1);
  // }

  // 75% {
  //   opacity: 0.4;
  //   transform: scale(4);
  // }

  // 100% {
  //   opacity: 0;
  //   transform: scale(4);
  // }
}
