/**
* Copyright (c) 2018 - 2019 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

//
// Rows
//

.columns {
  @include make-row();

  &.large-unstack>.column,
  &.large-unstack>.columns,
  &.medium-unstack>.column,
  &.medium-unstack>.columns {
    flex: 0 0 100%;
  }
}

//
// Columns
//

// Global style for All columns
.column {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  min-height: 1px; // Prevent columns from collapsing when empty
  position: relative;

  &.smart {
    flex: 0 0 auto;
    max-width: 100%;
  }
}

@include grid-system-factory();

.container {
  padding-left: $column-margin;
  padding-right: $column-margin;
}

.container-full {
  padding-left: 0;
  padding-right: 0;
}
