/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

.nv-alert {
  background-color: $default;
  color: $dark;
  display: block;
  margin-bottom: $margin-base-x;
  padding: $padding-base-y $padding-base-x;
  position: relative;
  text-align: left;

  .nv-alert-title {
    color: $dark;
  }

  .dismissing {
    @extend .transition-exit;
  }

  a {
    color: $dark;
    font-family: 'FiraGO Bold';
  }

  .nv-alert-title {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  @each $themeName, $value in $theme-colors {
    &.nv-alert-#{$themeName} {
      @if ($themeName == 'dark') {
        color: $white;
        
        a {
          color: $white;
        }

        hr {
          border-color: $dark;
        }
        
        nv-alert-header,
        .nv-alert-title {
          h3 {
            color: $white;
          }
        }
      }
      
      @else if ($themeName == 'white') {
        color: $dark;

        nv-alert-header,
        .nv-alert-title {
          h3 {
            color: $dark;
          }
        }
      }
      
      background-color: $value;
      color: $white;

      a {
        color: $white;
      }

      hr {
        border-color: $white;
      }

      nv-alert-header,
      .nv-alert-title {
        h3 {
          color: $white;
        }
      }
    }
  }
}

.nv-alert-link {
  color: unset;
  font-weight: 700;
  vertical-align: initial;

  &:hover {
    color: unset;
  }
}

