/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

.nv-button {
  display: inline-block;

  &.nv-button-block {
    display: block;
    width: 100%;

    button {
      display: block;
      width: 100%;
    }
  }
}

.nv-button-native {

  //
  // Base Style
  //
  @extend .transition-input;

  background-color: $default;
  border-color: $default;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  color: $default-color;
  font-family: 'FiraGO Italic';
  font-size: $font-size-base;
  margin-bottom: $margin-sm-y;
  margin-top: $margin-sm-y;
  outline: none !important;
  overflow: hidden;
  padding: $padding-button;
  position: relative;
  text-decoration: none;
  transition-property: opacity, background-color, color;

  .nv-ripple {
    background-color: $default;
  }

  &:hover {
    background-color: lighten($default, 10%);
  }

  &.nv-button-alternative {
    background-color: $white;
    border-left: 4px solid $primary;

    &:hover {
      background-color: $white;
      border-left: 4px solid lighten($primary, 20%);
    }

    span {
      color: $default-color;
    }
  }

  &.nv-button-outline {
    background-color: transparent;
    color: $default-color;

    span {
      color: $default-color;
    }
  }

  &.nv-button-text {
    background-color: transparent;
    border-color: transparent;

    &:hover {
      background-color: rgba($default, 0.5);
    }
  }

  // Disabled style

  &.disabled,
  &:disabled {
    background-color: ligthen($primary, 10%);
    cursor: not-allowed;
  }

  span {
    position: relative;
    z-index: 3;
  }

  // Fix height from buttons
  .badge {
    margin-bottom: -5px;
    margin-top: -5px;
  }

  @each $themeName, $value in $theme-colors {

    //
    // Global style with theme colors
    //

    // Default

    &.nv-button-#{$themeName} {
      background-color: $value;
      border-color: $value;
      color: $white;

      &:hover {
        background-color: lighten($value, 20%);
      }

      .nv-ripple { 
        background-color: $value;
      }

      span {
        color: $white;
      }

      // Disabled style      
      &.disabled,
      &:disabled {
        background-color: lighten($value, 45%);
        border: 1px solid lighten($value, 45%);
      }

      &.nv-button-alternative {
        background-color: $white;
        border-left: 4px solid $value;

        &:hover {
          border-left: 4px solid lighten($value, 20%);
        }

        span {
          color: $default-color;
        }
      }

      &.nv-button-text {
        background-color: transparent;
        border-color: transparent;
        color: $value;
    
        span {
          color: $value;
        }
    
        &:hover {
          background-color: rgba($default, 0.5);
        }
      }

      // 
      // Outline style
      // 
      &.nv-button-outline {
        background-color: $white;
        border-color: $value;
        color: $value;

        &:hover,
        &:hover span {
          border-color: lighten($value, 10%);
          color: lighten($value, 10%);
        }

        span {
          color: $value;
        }

        // Disabled style      
        &.disabled,
        &:disabled {
          border: 1px solid lighten($value, 30%);
          color: lighten($value, 30%);
        }
      }
    }
  }

  // 
  // rounded
  // 

  &.nv-button-rounded {
    border-radius: 30px;

    .nv-ripple {
      border-radius: 50%;
    }
  }

  // 
  // Circle Style
  //

  &.nv-button-circle {
    border-radius: 100% !important;
    height: 90px;
    padding: $padding-base-y 0 !important;
    width: 90px;
  }

  //
  // Global size styles
  //

  // Small style
  &.nv-button-small {
    font-size: $font-size-sm;
    padding: $padding-sm-y $padding-sm-x;
  }

  // Medium style
  &.nv-button-medium {
    font-size: $font-size-md;
    padding: $padding-md-y $padding-md-x;
  }

  // Large style
  &.nv-button-large {
    font-size: $font-size-lg;
    padding: $padding-lg-y $padding-lg-x;
  }

  // Extra large style
  &.nv-button-big {
    font-size: $font-size-big;
    padding: $padding-big-y $padding-big-x;
  }

  //
  // Global depth for Buttons follow Nuinalp Language Design
  //

  &.depth {
    @extend .depth-8;
  }

  &.depth-top {
    @extend .depth-8-top;
  }

  &.depth-center {
    @extend .depth-8-center;
  }
}
