/**
* Copyright (c) 2019 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

.nv-checkbox {
  @extend .transition-exit;
  background-color: $light-gray;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  margin-bottom: 2px;
  margin-right: 4px;
  margin-top: 2px;
  overflow: hidden;
  position: relative;
  transition-property: transform, background-color;
  vertical-align: middle;
  width: 30px;

  input {
    display: none;
    pointer-events: none;
  }
  
  .nv-checkbox-container {
    pointer-events: none;
  }

  .nv-checkbox-icon {
    @extend .transition-exit;
    fill: $white;
    height: 80%;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    width: 80%;
  }

  //
  // Checked
  //

  &.nv-checkbox-checked {
    animation: activeCheckbox $transtion-input $transtion-speed-input;
    background-color: $primary;
    transition-property: background, height, width;

    .nv-checkbox-icon {
      @extend .transition-input;
      opacity: 1;
      visibility: visible;
    }
  }

  //
  // Global style with theme colors
  //

  @each $themeName, $value in $theme-colors {
    &.nv-checkbox-checked.nv-checkbox-#{$themeName} {
      background-color: $value;
    }
  }
}

//
// Animations 
//

@keyframes activeCheckbox {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
