/**
* Copyright (c) 2019 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

.nv-collapse {
  cursor: pointer;
  padding: 10px;

  
  .nv-collapse-item {
    border-bottom: 1px solid lighten($dark, 75%);
    margin-bottom: $margin-base-y;
    
    header {
      color: #414141;
      font-family: 'FiraGO Bold Italic';
      font-size: 20px;
      padding: $padding-base-y $padding-base-x;
      position: relative;

      .header-container {
        position: relative;
        z-index: 2;
      }
  
      span,
      h3 {
        color: #414141;
        font-family: 'FiraGO Bold Italic';
      }
    }

    &.disabled {
      header {
        color: $text-muted;
        
        span,
        h3 {
          color: $text-muted;
        } 
      }
    }
  }
  
  .nv-collapse-item-container {
    @extend .transition-exit;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 $padding-base-x;
    
    &.show {
      @extend .transition-input;
      opacity: 1;
    }
  }
}
