/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

/* stylelint-disable selector-no-qualifying-type */

.nv-dialog {
  @extend .transition-input;
  align-items: center;
  background-color: rgba(199, 199, 199, 0.85);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 999;

  &.closed {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  &.prepare-opening {
    @extend .transition-input;
    opacity: 1;
  }

  &.opening {
    @extend .transition-input;
    opacity: 1;
  }

  &.flying {
    opacity: 1;
    visibility: visible;
  }

  &.hiding,
  &.closing {
    @extend .transition-exit;
    opacity: 0;
  }

  .nv-dialog-container {
    @extend .transition-exit;
    @extend .depth-26;
    background-color: #f4f4f4;
    border-radius: 0;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 45px;
    height: auto;
    max-height: 90%;
    max-width: 500px;
    min-width: 320px;
    opacity: 0;
    overflow: hidden;
    position: relative;
    transform: scale(1.1);

    &.nv-dialog-select {
      grid-template-rows: auto 1fr 45px;
    }

    &.nv-dialog-custom,
    &.nv-dialog-action {
      display: unset;
      grid-auto-flow: unset;
      grid-template-rows: unset;
    }

    .nv-dialog-header {
      font-family: 'FiraGO Medium Italic';
      margin: 0 $margin-md-x;
      padding: $padding-lg-x 0 0;
      text-align: center;

      h3 {
        margin: 0;
      }
    }

    .nv-dialog-title {
      color: #919191;
      font-size: 20px;
      margin: 4px 0;
      text-align: center;
    }

    .nv-dialog-body {
      color: #5f5f5f;
      font-family: 'FiraGo Italic';
      overflow-y: auto;
      padding: 30px 20px;

      li {
        padding: $padding-md-y $padding-md-x;
        position: relative;

        &[aria-selected] {
          color: $primary;
        }
        
        &:not(:last-child)::before {
          background-color: rgba($dark, 0.1);
          bottom: 0;
          content: '';
          height: 1px;
          left: 0;
          margin: 0 $padding-md-x;
          position: absolute;
          width: calc(100% - #{$padding-md-x * 2});
        }
      }

      &.no-padding {
        padding: 0;
      }
    }
    
  }
  
  &.opened .nv-dialog-container {
    @extend .transition-input;
    opacity: 1;
    transform: scale(1);
  }

  &.closing .nv-dialog-container {
    @extend .transition-exit;
    opacity: 0;
    transform: scale(1.1);
  }

  .nv-textfield {
    margin-bottom: -16px;
    margin-top: 10px;
    padding: 0;
    width: 100%;

    .nv-textfield-elements {
      width: 100%;
    }
  }

  .nv-dialog-action-container {
    background-color: $white;
    display: block;

    .nv-button,
    nv-button {
      display: block;
      flex-basis: 0;
      flex-grow: 1;
      width: 100%;
    }

    .nv-button {
      padding: 0;
    }

    .nv-button-native,
    button {
      border-color: none;
      border-style: none;
      border-width: 0;
      flex-basis: 0;
      flex-grow: 1;
      margin: 0;
      max-width: 100%;
      min-height: 1px;
      padding: $padding-md-y $padding-base-x;
      position: relative;
      width: 100%;

      &:not(last-child) {
        border-top: 1px solid rgba($dark, 0.1);
      }
    }
  }

  .nv-dialog-footer {
    background-color: #fff;
    border-top: 1px solid rgba($dark, 0.1);
    display: flex;
    flex-wrap: wrap;

    div[slot] {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .nv-button,
    nv-button {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    nv-button {
      .nv-button {
        width: 100%;
      }
    }

    .nv-button-native,
    button {
      border-color: none;
      border-style: none;
      border-width: 0;
      flex-basis: 0;
      flex-grow: 1;
      margin: 0;
      max-width: 100%;
      min-height: 1px;
      padding: $padding-md-y $padding-base-x;
      position: relative;
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .nv-dialog .nv-dialog-container {
    max-width: 320px;
  }

  .nv-dialog-footer,
  .nv-dialog-action-container {
    .nv-button-native,
    button {
      padding: $padding-lg-y $padding-base-x;
    }
  }

}
