/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

.nv-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
  margin-bottom: 0;
  overflow-y: auto;
  padding-left: 0;

  // Add position relative for get corret offsetTop 
  // position from header elements
  .nv-list-container {
    position: relative;
  }

  .nv-list-title {
    color: $dark;
    display: block;
    font-size: 18px;
    white-space: pre-wrap;
  }

  .nv-list-first-name {
    color: $dark;
    display: inline-block;
    font-family: 'FiraGO Bold';
    font-size: 18px;
    white-space: pre-wrap;
  }

  .nv-list-last-name {
    color: $dark;
    display: unset;
    font-size: 18px;
    white-space: pre-wrap;
  }

  .nv-list-company {
    color: $dark-gray;
    display: block;
    width: 100%;
  }

  .nv-list-sub-title {
    color: #878787;
    display: block;
    font-size: 16px;
    white-space: pre-wrap;
  }

  .nv-list-sub-header {
    border-bottom-color: transparent;
    border-bottom-width: 0;
    display: block;
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .nv-list-item {
    align-items: center;
    background-color: #fff;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    line-height: inherit;
    overflow: inherit;
    padding: $padding-md-y $padding-md-x;
    position: relative;
    text-decoration: inherit;
    width: 100%;

    &:not(last-child)::after {
      // &::after {
      background-color: rgba($default, 0.5);
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      margin: 0 $padding-md-x;
      position: absolute;
      width: calc(100% - #{$padding-md-x * 2});
    }

    &.last-child::after {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      padding-left: 0;
      width: 100%;
    }

  }

  .nv-sub-header {
    padding: $padding-base-y $padding-md-x;
  }
  
  .nv-list-header {
    background-color: $white;
    z-index: 2;
  }

  .nv-list-subject {
    display: block;
    font-family: 'FiraGO Bold';
    white-space: pre-wrap;
    width: 100%;
  }

  .nv-list-message {
    color: $dark-gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.nv-list-sticky-header {
    .nv-list-header {
      position: sticky;
      top: 0;
    } 
  }

  .nv-list-title-container {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .nv-list-item-container {
    align-items: center;
    display: flex;
    flex-direction: inherit;
    min-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;

    time {
      color: $dark-gray;
      font-family: 'FiraGO Italic';
      font-size: 80%;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .nv-list-icon {
    height: 30px;
    margin-right: 8px;
    width: 30px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &.nv-list-email-type {
    .nv-list-item {
      padding-left: #{$padding-md-y * 2};
    }

    .nv-list-title-container {
      padding-right: 12px;
    }

    .nv-list-first-name,
    .nv-list-last-name,
    .nv-list-subject {
      font-family: 'FiraGO Regular';
    }
  }

  .nv-list-email-unread {
    .nv-list-first-name,
    .nv-list-last-name,
    .nv-list-subject {
      font-family: 'FiraGO Bold';
    }

    time {
      color: $primary;
    }
  }

  .unread-email-badge {
    background-color: $primary;
    border-radius: 50%;
    height: 10px;
    left: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
  }
}

// .nv-list-group {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 0;
//   padding-left: 0;

//   .nv-list-item {
//     background-color: #fff;
//     border-radius: 0;
//     display: block;
//     line-height: inherit;
//     margin-bottom: -1px;
//     overflow: inherit;
//     padding: $padding-base-y $padding-lg-y;
//     position: relative;
//     text-decoration: inherit;

//     &.active {
//       background-color: $primary !important;
//       border-color: $primary !important;
//       color: $white;

//       * {
//         color: unset;
//       }
//     }

//     &:last-child::after > div {
//       display: none;
//     }
//   }




//   .nv-list-group-item:first-child {
//     border-top-left-radius: $global-border-radius;
//     border-top-right-radius: $global-border-radius;
//   }

//   .nv-list-group-item:last-child {
//     border-bottom-left-radius: $global-border-radius;
//     border-bottom-right-radius: $global-border-radius;
//   }

//   &.nv-list-group-bd-n .nv-list-group-item {
//     border-left: 0;
//     border-radius: 0;
//     border-right: 0;
//   }

//   .nv-list-group-item-action {
//     color: #495057;
//     font-size: inherit;
//     text-align: inherit;
//     width: 100%;

//     &:hover {
//       background-color: darken($white, 2%);
//       text-decoration: none;
//     }

//     &:disabled {
//       color: darken($white, 20%);
//     }
//   }


//   &.nv-list-group-line {
//     .nv-list-group-item {
//       border-left: 0;
//       border-radius: 0;
//       border-right: 0;
//     }
//   }
// }
