/**
* Copyright (c) 2019 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/
$spinner-duration: 1.2s;

.nv-loader {
  background-color: transparent;
  display: block;
  font-size: 40;
  height: 1em;
  margin: $margin-base-y $margin-base-x;
  position: relative;
  width: 1em;

  // Circles
  &::before,
  &::after {
    animation: spinner-animation $spinner-duration infinite;
    animation-fill-mode: backwards;
    border: 4px solid;
    border-radius: 1em;
    content: '';
    height: inherit;
    left: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: 10;
  }

  &::before {
    border-color: $primary transparent transparent transparent;
  }

  &::after {
    animation-delay: $spinner-duration / 2;
    border-color: transparent lighten($primary, 15%) transparent transparent;
  }

  
  &.nv-loader-anim-paused {
    &::before,
    &::after {
      animation-play-state: paused;
    }
  }

  //
  // Themes
  //
  
  @each $themeName, $value in $theme-colors {
    // Default

    &.nv-loader-#{$themeName} {
      &::before {
        border-color: $value transparent transparent transparent;
      }

      &::after {
        border-color: transparent lighten($value, 15%) transparent transparent;
      }
    }
  }

  //
  // Sizes
  //

  &.nv-loader-small {
    font-size: 20px;

    &::before,
    &::after {
      border-width: 2px;
    }
  }

  &.nv-loader-medium {
    font-size: 40px;
  }

  &.nv-loader-large {
    font-size: 60px;
  }

  &.nv-loader-big {
    font-size: 80px;
  }
}

//
// Animations
//

@keyframes spinner-animation {
  0% {
    animation-timing-function: cubic-bezier(0, 0, 0.8, 0.2);
    transform: rotateZ(0deg);
  }

  50% {
    animation-timing-function: cubic-bezier(0.2, 0.8, 1, 1);
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
