/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

.nv-navigation-view {
  background-color: $panel-light;
  border-right-color: rgba($dark, 0.2);
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding: $padding-md-y 0;
  position: relative;
  width: 256px;

  //
  // Separator
  //

  .nv-navigation-view-separator {
    @extend .hr;
    background-color: unset;
    border-color: rgba($dark, 0.2);
    display: block;
    margin-left: $padding-base-x;
    margin-right: $padding-base-x;
    width: calc(100% - #{$margin-base-x * 2});
  }

  //
  // Header
  //

  .nv-nav-header {
    display: flex;
    margin-bottom: $margin-md-y;
    padding: $padding-base-y $padding-base-x;
    width: 100%;
  }

  .nv-nav-item-header {
    h6 {
      color: $dark;
      cursor: default;
      font-family: 'FiraGO Bold Italic';
      margin: 0;
      padding: $padding-base-y $padding-base-x;
    }
  } 

  .nv-nav-title h6 {
    font-family: 'FiraGO Bold'; 
  }


  //
  // Items
  //

  .nv-nav-items {
    @extend .transition-exit;

    &.nv-nav-items-active {
      @extend .transition-exit;
      background-color: rgba($light-gray, 0.3);
    }
  }

  .nv-navigation-view-item {
    @extend .transition-exit;
    cursor: pointer;
    display: block;
    font-family: 'FiraGO Regular';
    padding: $padding-base-y $padding-base-x;
    position: relative;
    transition-property: background-color;

    &::before {
      @extend .transition-exit;

      background-color: $primary;
      content: '';
      height: 0%;
      left: 2px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transform-origin: center;
      transition-property: height;
      width: 2px;
      z-index: 2;
    }

    &.nv-navigation-view-item-active {
      &::before {
        @extend .transition-input;
        height: 100%;
      }
    }

    &:hover {
      @extend .transition-input;
      background-color: rgba($light-gray, 0.5);
    }
  }

  .nv-nav-view-left-content,
  .nv-nav-view-right-content {
    display: flex;
  }

  .nv-nav-view-left-content {
    flex-direction: column;
  }
  
  .nv-nav-view-right-content {
    align-items: center;
    white-space: nowrap;
  }

  //
  // Modes
  //

  // Top

  &.nv-navigation-view-top {
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: $padding-md-x;
    padding-right: $padding-md-x;
    padding-top: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1071;

    .nv-nav-view-left-content,
    .nv-nav-view-right-content {
      flex-direction: row;
      white-space: nowrap;
    }

    .nv-nav-item-header {
      align-items: center;
      display: flex;

      h6 {
        padding-bottom: 0;
        padding-top: 0;
      }
    }

    //
    // Separator
    //

    .nv-navigation-view-separator {
      height: 30px;
      margin: 0 $margin-base-x;
      width: 1px;
    }

    .nv-nav-items {
      align-items: center;
      display: flex;
      flex-wrap: nowrap;

      section {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
      }

      .nv-navigation-view-item {
        padding-bottom: $padding-md-x;
        padding-top: $padding-md-x;

        &::before {
          bottom: 0;
          height: 2px;
          left: 50%;
          top: unset;
          transform: translateX(-50%);
          transition-property: width;
          width: 0%;
        }
        
        &.nv-navigation-view-item-active::before {
          width: 100%;
        }
      }

    }
  }

  //
  // Positions
  // 

  &.nv-navigation-view-top-fixed {
    left: 0;
    position: fixed;
    top: 0;
  }
  
  //
  // Responsive
  //

  .nv-navigation-view-mb-menu {
    @extend .transition-exit;

    &::before {
      background-color: rgba($dark, 0.2);
      content: '';
      display: block;
      height: 1px;
      margin: 20px 0;
      width: 100%;
    }

    .nv-nav-items {
      width: 100%;
    }

    // Visibility
    &.nv-nav-view-mnmb-active {
      @extend .transition-input;
      height: auto;
      opacity: 1;
      visibility: visible;
    }
    
    &.nv-nav-view-mnmb-hidden {
      height: 8px !important;
      opacity: 1;
      overflow: hidden;
      visibility: visible;
    }

    .nv-navigation-view-separator {
      height: 1px;
      margin-bottom: $padding-base-y;
      margin-left: 0;
      margin-right: 0;
      margin-top: $padding-base-y;
      width: 100%;
    }
  }

  .nv-navigation-view-menu {
    align-items: center;
  }

  .nv-navigation-view-menu,
  .nv-navigation-view-mb-menu {
    display: none;
  }

  // Mobile menu style for Websites.

  &.nv-navigation-view-top-responsive {
    flex-wrap: wrap;
    padding-top: $padding-base-y;

    .nv-navigation-view-menu {
      display: flex;
    }

    .nv-navigation-view-mb-menu {
      display: block;
      overflow-y: auto;
      width: 100%;
    }

    .nv-nav-items {
      flex-direction: row;
      flex-wrap: wrap;
      
      section {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }

      .nv-navigation-view-item {
        width: 100%;

        &::before {
          bottom: unset;
          height: 0;
          left: 2px;
          top: 50%;
          transform: translateY(-50%);
          transition-property: height;
          width: 2px !important;
        }

        &.nv-navigation-view-item-active::before {
          height: 100%;
        }
      }

      .nv-nav-item-header {
        margin-bottom: $margin-base-y;
      }
    }
  }
}

//
// Fix body top padding .
//
.nv-navigation-view-fixed-body {
  padding-top: 70px;
}
