/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

.nv-progress {
  background-color: $light-gray;
  border-radius: 0;
  display: flex;
  font-size: $font-size-base;
  height: 0.5rem;
  margin-top: $margin-base-y;
  overflow: hidden;
  position: relative;

  &.nv-progress-rounded {
    border-radius: $global-border-radius;
    
    .nv-progressbar {
      border-radius: $global-border-radius;
    }

    .circle-progressbar-svg {
      stroke-linecap: round;
    }
  }

  &.nv-progressbar-completed .nv-progressbar {
    animation-play-state: paused !important;
  }

  .nv-progressbar {
    @extend .transition-moviment;
    @include bkg-degrade(lighten($primary, 10%), 'to right');
    background-color: $primary;
    border-radius: 0;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    
  
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  
    &:first-child:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  
    &:last-child:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  
    &.nv-progressbar-indeterminate {
      @extend .transition-moviment;
  
      animation: loadingProgressbar 2s infinite;
      position: absolute !important;
      width: 50%;
    }

  }
  
  //
  // Circle
  //

  &.nv-progress-circle {
    animation: none;
    background-color: transparent;
    background-image: none !important;
    border-radius: 50%;
    height: 100px;
    position: relative;
    width: 100px;
    
    .nv-progressbar {
      animation: none;
      background-color: transparent;
      background-image: none !important;

      svg {
        transform: rotate(-90deg);
      }

      .circle-progressbar-svg {
        @extend .transition-moviment;
        stroke: $primary;
      }
    }
  }

  //
  // Semi circle
  //
  
  &.nv-progress-square {
    animation: none;
    background-color: transparent;
    background-image: none !important;
    // border-radius: 50%;
    height: 100px;
    position: relative;
    width: 100px;
    
    .nv-progressbar {
      animation: none;
      background-color: transparent;
      background-image: none !important;

      .square-progressbar-svg {
        @extend .transition-moviment;
        stroke: $primary;
      }
    }
  }


  //
  // Semi circle
  //
  
  &.nv-progress-semi-circle {
    animation: none;
    background-color: transparent;
    background-image: none !important;
    border-radius: 50%;
    height: 100px;
    position: relative;
    width: 100px;
    
    .nv-progressbar {
      animation: none;
      background-color: transparent;
      background-image: none !important;

      svg {
        transform: rotate(180deg);
      }

      .circle-progressbar-svg {
        @extend .transition-moviment;
        stroke: $primary;
      }
    }
  }


  @each $themeName, $value in $theme-colors {
    .nv-progressbar.nv-progressbar-#{$themeName} {
      @include bkg-degrade(lighten($value, 20%), 'to right');
      animation: progressbarAnim 1.5s steps(15) infinite;
      background-image: repeating-linear-gradient(135deg, lighten($value, 10%), lighten($value, 10%) 5rem, $value 5rem, $value 10rem);
      background-size: 15rem;

      .circle-progressbar-svg {
        stroke: $value;
      }

      .semi-circle-progressbar-svg {
        stroke: $value;
      }

      .square-progressbar-svg {
        stroke: $value;
      }

      .nv-progressbar-label {
        color: $value;
      }
    }
  }

  .nv-progressbar-label {
    color: $primary;
    font-family: 'FiraGO Italic';
    position: absolute;
    width: 100%;
  }
}
