/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

.nv-select {
  @extend .transition-exit;
  cursor: pointer;
  display: inline-block;
  min-width: 150px;
  position: relative;
  
  .nv-select-el {
    border-color: rgba($dark, 0.5);
    border-style: solid;
    border-width: 1px;
    display: block;
    min-height: 42px;
    padding: $padding-base-y #{$padding-base-x * 2} $padding-base-y $padding-base-x;
    position: relative;
    transition-property: boder-color, transform, opacity;

    &::before {
      border-bottom: 8px solid;
      border-bottom-color: $primary;
      border-inline-start: 8px solid transparent;
      bottom: $padding-base-y;
      content: '';
      offset-inline-end: 0;
      position: absolute;
      right: $padding-base-x;
    }

    &:hover {
      @extend .transition-moviment;
      border-color: $primary;
    }
  }

  //
  // Label
  //

  .nv-select-label {
    color: $gray-text;
    font-family: 'FiraGO Italic';
    pointer-events: none;
  }

  //
  // Item
  //

  .nv-select-items {
    @extend .transition-exit;
    background-color: $white;
    border-color: rgba($dark, 0.5);
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(0.9);
    transition-property: opacity transform visibility;
    visibility: hidden;
    width: 100%;

    .nv-select-item {
      @extend .transition-exit;
      display: flex;
      padding: $padding-base-y $padding-base-x;
      transition-property: background-color;

      &:hover {
        @extend .transition-moviment;
        background-color: $primary;
        color: $white;
      }

      &.nv-select-item-disabled {
        cursor: default;
        opacity: 0.5;
      }

      &.nv-select-item-selected {
        background-color: $primary;
        color: $white;
      }
    }
  }

  //
  // Opened
  //

  &.nv-select-opened {
    .nv-select-el {
      @extend .transition-exit;
      opacity: 0;
      pointer-events: none;
      transform: scale(1.2);
      visibility: hidden;
      z-index: 1;
    }

    .nv-select-items {
      @extend .transition-input;
      opacity: 1;
      transform: scale(1);
      visibility: visible;
      z-index: 2;
    }
  }

  &.nv-select-closed {
    .nv-select-el {
      @extend .transition-input;
      opacity: 1;
      transform: scale(1);
    }
  }

  //
  // Disabled
  //

  &.nv-select-disabled {
    cursor: default;
    opacity: 0.5;

    &:hover {
      .nv-select-el {
        border-color: rgba($dark, 0.5);
      }
    }
  }
}
