/*!
* Copyright (c) 2018 - 2019 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

/* stylelint-disable selector-no-qualifying-type */
input[type='text'],
input[type='password'],
input[type='email'],
input[type='file'],
textarea {
  border: 0;
  border-color: transparent;
  min-width: 280px;
  padding: $padding-base-x;
}

.nv-text-field {
  display: inline-block;
  margin-top: 30px;
  padding-bottom: 10px;
  vertical-align: top;

  input {
    background-color: transparent;
    border: 0;
    height: 48px;
    padding: $padding-base-x;
    width: 100%;
  }

  .nv-text-field-elements {
    background-color: #f5f5f5;
    border-bottom-color: $gray-text;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    display: flex;
    width: 100%;
  }

  &.nv-text-field-password {
    input {
      padding-right: 54px;
    }
  }

  .nv-text-field-prefix {
    color: $dark-gray;
    padding: $padding-base-x;
    padding-right: 0;
  }

  .nv-text-field-suffix {
    color: $dark-gray;
    padding: $padding-base-x;
    padding-left: 0;
  }
  
  .nv-text-field-container {
    display: flex;
    padding-bottom: 2px;
    position: relative;
  
    &::after {
      background-color: #f5f5f5;
      content: '';
      height: 10px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }
  }

  .nv-text-field-helper-line {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2px $padding-base-x;
  }

  &.nv-input-shaped-filled {
    input {
      background-color: transparent;
    }
    
    .nv-text-field-elements {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    .nv-text-field-container::after {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }

  &.nv-input-outline,
  &.nv-input-shaped-outlined {
    input {
      background-color: transparent;
    }
    
    .nv-text-field-elements {
      background-color: transparent;
      border: 1px solid $gray-text;
    }

    .nv-text-field-container::after {
      display: none;
    }
  }

  &.nv-input-shaped-outlined {
    .nv-text-field-elements {
      border-radius: 30px;
    }

    .nv-line-ripple {
      border-radius: 30px;
    }
  }

  .nv-txtfield-pass-view-btn {
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: $padding-base-x;
    top: 48%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 4;

    .nv-button-native {
      cursor: pointer;
      height: 100%;
      margin: 0;
      padding: 4px;
      width: 100%;

      &:hover {
        background-color: transparent !important;
      }
    }
  }
}


.nv-line-ripple {
  @extend .transition-exit;
  background-color: $primary;
  bottom: 2px;
  height: 2px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transform-origin: center;
  transition-property: width;
  width: 0%;
  z-index: 2;
  
  &.active {
    @extend .transition-input;
    width: 100%;
  }

  &.primary {
    background-color: $primary;
  }

  &.danger {
    background-color: $danger;
  }
  
  &.warning {
    background-color: $warning;
  }

  &.success {
    background-color: $success;
  }
}

.nv-text-field.nv-input-outline,
.nv-text-field.nv-input-shaped-outlined {
  .nv-line-ripple {
    background-color: transparent;
    border-color: $primary;
    border-style: solid;
    border-width: 2px;
    height: calc(100% - 2px);
    opacity: 0;
    visibility: hidden;
    width: 100%;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}

.nv-text-field-label {
  @extend .transition-moviment;
  color: #858b91;
  font-family: 'FiraGO Italic';
  left: 0;
  padding: $padding-base-x;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition-delay: 50ms, 100ms, 0s, 0s;
  transition-property: font-size, padding, transform, left;
  z-index: 1;

  &.active {
    font-size: 11px;
    height: inherit;
    left: 0 !important;
    padding: $padding-sm-y $padding-base-x;
    transform: translateY(-100%);
  }

  &.primary {
    color: $primary;
  }

  &.danger {
    color: $danger;
  }
  
  &.warning {
    color: $warning;
  }

  &.success {
    color: $success;
  }
}

.nv-text-field-counter {
  margin-left: $margin-base-x;
}

.nv-text-field-helper-text {
  padding: $padding-sm-y 0;
}
