/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

.nv-toasts {
  height: auto;
  overflow: hidden;
  padding: $padding-base-y $padding-base-x;
  position: fixed;
  width: 320px;

  // Positions
  &.nv-toast-top-left {
    left: 1rem;
    top: 1rem;
  }

  &.nv-toast-top-right {
    right: 1rem;
    top: 1rem;
  }

  &.nv-toast-top-center {
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
  }

  &.nv-toast-bottom-left {
    bottom: 1rem;
    left: 1rem;
  }

  &.nv-toast-bottom-right {
    bottom: 1rem;
    right: 1rem;
  }

  &.nv-toast-bottom-center {
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .nv-toast {
    @extend .transition-exit;
    background-color: #f4f4f4;
    border-radius: 0;
    cursor: pointer;
    display: block;
    font-family: 'FiraGO Italic';
    min-height: 64px;
    overflow: hidden;
    padding: $padding-base-y $padding-base-x;
    padding-bottom: 10px;
    position: relative;
    right: -100%;
    width: 100%;

    &.nv-toast-hovered {
      animation-play-state: paused;
    }

    h4 {
      margin-bottom: $margin-sm-y;
    }

    .nv-toasts-progress {
      animation: toastProgressRun linear 1;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      background-color: $default;
      bottom: 0;
      height: 4px;
      left: 0;
      opacity: 0;
      position: absolute;
      width: 100%;
    }

    &.nv-toast-show-progress .nv-toasts-progress {
      opacity: 1;
    }
  
    h5,
    span {
      color: #fff;
    }
  
    .nv-toast-icon {
      height: 80px;
      left: 0;
      overflow: hidden;
      padding: 10px;
      position: absolute;
      text-align: center;
      top: 0;
      width: 80px;
  
      img {
        display: inline-block;
        height: 100%;
        width: 100%;
      }
    }
  
    &.nv-toast-closed {
      display: none;
      opacity: 0;
      right: -100%;
      visibility: hidden;
    }
  
    &.nv-toast-flying {
      @extend .transition-input;
      opacity: 1;
      right: 0;
      visibility: visible;
    }

    &.nv-toast-opened {
      opacity: 1;
      right: 0;
      visibility: visible;
    }
  
    &.nv-toast-hiding {
      @extend .transition-exit;
      opacity: 0;
      right: -100%;
    }
  
    .nv-toast-body {
      display: inline-block;
      height: 80px;
      padding-right: 20px;
      white-space: nowrap;
    }
  
    .nv-toast-content {
      display: inline-block;
      height: 80px;
      padding: 10px 0;
      position: relative;
      vertical-align: top;
      white-space: normal;
      width: 240px;
    }
  
    .nv-toast-actions {
      align-items: center !important;
      display: inline-block;
      height: 80px;
      padding: 8px 0;
      position: relative;
      vertical-align: top;
      white-space: normal;
      width: 74px;
  
      ul {
        align-items: center;
        display: flex;
        height: 100%;
        list-style: none;
        padding: 0;
        width: 100%;
      }
  
      li {
        color: #fff;
      }
  
      &::before {
        background-color: rgba(255, 255, 255, 0.5);
        content: ' ';
        height: calc(100% - 20px);
        left: 0;
        margin: 10px 0;
        position: absolute;
        top: 0;
        width: 1px;
      }
  
      .action-items {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        min-height: 1px;
        padding-left: 10px;
        position: relative;
      }
    }
  }
}

@keyframes toastProgressRun {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}
