/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

.nv-tooltip {
  @extend .transition-exit;
  background-color: $dark;
  border-radius: 0;
  color: $white;
  display: inline-block;
  padding: $padding-sm-y $padding-base-x;
  position: fixed;
  z-index: 20;

  &.nv-tooltip-hidden {
    opacity: 0;
    visibility: hidden;
  }

  &.nv-tooltip-display {
    @extend .transition-input;
    opacity: 1;
    visibility: visible;
  }

  .nv-tooltip-container {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &::after {
    border-color: transparent;
    border-style: solid;
    border-width: 5px;
    content: '';
    position: absolute;
  }

  &.nv-tooltip-top::after {
    border-top-color: $dark;
    left: 50%;
    margin-left: -5px;
    top: 100%;
  }

  &.nv-tooltip-bottom::after {
    border-bottom-color: $dark;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
  }

  &.nv-tooltip-left::after {
    border-left-color: $dark;
    left: 100%;
    margin-left: 0;
    margin-top: -5px;
    top: 50%;
  }

  &.nv-tooltip-right::after {
    border-right-color: $dark;
    margin-right: 0;
    margin-top: -5px;
    right: 100%;
    top: 50%;
  }
}

.nv-tooltip-container {
  display: inline-block;
  overflow: hidden;
}
