/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

/* Increase or decrease the number 
to change the vertical spacing globally*/
  
:root {
  /* Increase or decrease the number 
  to change the vertical spacing globally*/
    
  /* Base Vertical Spacing */
  --space: 1.6;
  
  /* Vertical Spacing - multiplier */
  --vspace: calc(var(--space) * 1rem);
  --vspace-0: calc(3 * var(--space) * 1rem);
  --vspace-1: calc(2 * var(--space) * 1rem);
  --vspace-2: calc(1.5 * var(--space) * 1rem);
  --vspace-3: calc(0.5 * var(--space) * 1rem);
}
  
html {font-size: 16px;}

body {
  font-size: 1em;
  margin: 0 auto;
}

p {
  line-height: var(--vspace);
  margin: var(--vspace) 0; 
}

h1 {
  line-height: calc(5.1458/var(--space)* var(--vspace));
  margin: var(--vspace-1) 0 var(--vspace-1) 0;
}

h2 {
  line-height: 1em;
  margin: var(--vspace-2) 0 var(--vspace-3) 0;
}

h3 {
  line-height: 1em;
  margin: var(--vspace-1) 0 var(--vspace-3) 0;
}

h4,
h5,
h6 {
  line-height: var(--vspace);
  margin: var(--vspace-2) 0 var(--vspace-3) 0;
}

.bigtitle,
h1 {
  font-size: 5.1458em;
  word-break: break-word;
}

.title,
h2 {
  font-size: 1.9792em;
  word-break: break-word;
}

.subheading1,
h3 {
  font-size: 1.625em;
  letter-spacing: 0.1em;
}

blockquote {
  font-size: 1.2292em;
  line-height: calc(1.2292*var(--vspace));
  margin: var(--vspace-2) var(--vspace-2);
}

.subheading2,
h4 {
  font-size: 1.2292em;
}

.subheading3,
h5 {
  font-size: 1.1042em;
  letter-spacing: 0.15em;
}

.subheading4,
h6 {
  font-size: 1.1042em;
  font-weight: normal;
}

.caption {
  font-size: 0.9167em;
  font-weight: normal;
}

.endnote {font-size: 0.9167em;}

.footnote {
  font-size: 0.8333em;
  line-height: 2em;
  margin: var(--vspace-0) 0 var(--vspace-2) 0;
}

sup { 
  font-size: 0.8333rem;
  font-style: italic;
  font-weight: normal;
  margin: 0.5em;
  text-transform: none;
}

//
// The all Typographt style, Titles, Headers, texts and more elements
//

//
//Heading
//

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $default-color;
  margin-top: 0;
}

//
// standout
//

.standout {
  font-family: 'FiraGo Italic';
  font-size: 16px;
}

//
// P
//
p {
  margin-bottom: $margin-base-y;
  margin-top: $margin-base-y;
}

.small,
small {
  font-size: 80%;
  font-weight: 400;
}

mark,
.mark {
  background-color: $primary;
  border-radius: $global-border-radius;
  color: $white;
  display: inline-block;
  margin: ($margin-sm-y - 2);
  padding: $padding-mark;
}

// Blockquotes
.blockquote {
  font-size: $font-size-lg;
  margin-bottom: $margin-base-y;
}

.blockquote-footer {
  color: $default;
  display: block;
  font-size: 80%; // back to default font-size

  &::before {
    content: '\2014 \00A0'; // em dash, nbsp
  }
}

//
// Lists
//

.list-inline {
  // Inline turns list items into inline-block

  list-style: none;

  &:not(:last-child) {
    margin-right: $margin-sm-x;
  }

  .list-inline-item {
    display: inline-block;
  }


  @each $StyleId, $NameStyle in $style-list {
    &.list-style-#{$NameStyle} {
      list-style: $NameStyle;
      padding-left: 30px;
    }
  }

  li {
    margin-bottom: $margin-sm-y;
  }
}

kbd,
code {
  // background-color: darken($white, 10%);
  padding: 4px 6px;
}

//
// Abbr
//

/* stylelint-disable */
abbr,
abbr[title] {
  border-bottom: 1px dotted $default-color;
  cursor: help;
  text-decoration: none;
}

/* stylelint-enable */

//
// Defination list style
//

dl dt {
  font-weight: bold;
  margin-bottom: $padding-sm-y;
}

//
// NUIverse hr style
//

hr,
.hr {
  background-color: $dark;
  border: 0;
  border-color: $dark;
  border-top-style: solid;
  border-top-width: 1px;
  margin: $padding-lg-y 0;
  opacity: 1;
}
