.nv-upload {
  @extend .transition-exit;
  display: block;
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }

  .nv-upload-container {
    display: block;
    outline: 2px dashed $light-gray;
    padding: $padding-lg-y $padding-lg-x;
    width: 100%;
  }

  // nodrop
  &.nv-upload-nodrop {
    .nv-upload-container {
      outline-style: solid;
    }
  }

  input {
    display: none;
  }

  .nv-upload-action {
    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }

  .nv-upload-icon {
    display: block;
    margin: 0 auto;
    width: 150px;

    path {
      @extend .transition-exit;
      fill: $light-gray;
    }
  }

  svg path {
    fill: $light-gray;
  }

  nv-progress {
    margin-top: 0;
  }

  // Compact mode
  &.nv-upload-compact {
    .nv-upload-container {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: $padding-md-y $padding-md-x;
    }

    .nv-text-center {
      display: inline-block;
      margin: 10px 0 !important;
    }

    .nv-upload-icon {
      display: inline-block;
      margin: 10px 0;
      margin-right: 10px;
      width: 40px;
    }
  }

  //
  // Disabled
  //
  &.nv-upload-disabled {
    opacity: 0.5;

    .nv-upload-action {
      &:hover {
        color: unset;
        cursor: default;
      }
    }
  }

  &.nv-upload-highlight {
    .nv-upload-container {
      @extend .transition-input;
      outline-color: $primary;
    }

    svg path {
      @extend .transition-input;
      fill: $primary;
    }
  }

  //
  // List
  //

  .nv-upload-progress-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 50%;

    .nv-list .nv-list-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 90%;
    }
  }

  .nv-upload-actions {
    .nv-tick-icon-upload {
      width: 30px;
    }
  }

  .nv-list-upload {
    margin-top: 10px;
  }

  .nv-upload-progress {
    width: 90%;
  }
}
