/**
* Copyright (c) 2018 - 2019 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

@function bp-helper($bpName, $Flag, $Split: '', $breakpoints: $global-breakpoints) {
  
  @if $Flag == 'min' { 
    $min: map-get($breakpoints, $bpName);
    @return if($min != 0, $min, null);
  }
  
  @if $Flag == 'max' {
    $max: map-get($breakpoints, $bpName);
    @return if($max != 0, $max, null);
  }
  
  @if $Flag == 'multiple'{
    
  }
  
  @if $Flag == 'check' {
    @return if(bp-helper($bpName, 'min') == null, '', '#{$Split}#{$bpName}');
  }
}

@mixin media-breakpoint-min($bpName) {
  $min: bp-helper($bpName, 'min');
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-max($bpName) {
  $max: bp-helper($bpName, 'max');
  @media (max-width: $max) {
    @content;
  }
}
