/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

@mixin sm() {
  @media (max-width: map-get($global-breakpoints, sm)) {
    @content;
  }
}

@mixin md() {
  @media (max-width: map-get($global-breakpoints, md)) {
    @content;
  }
}

@mixin lg() {
  @media (max-width: map-get($global-breakpoints, lg)) {
    @content;
  }
}

@mixin xl() {
  @media (max-width: map-get($global-breakpoints, xl)) {
    @content;
  }
}

@mixin xxl() {
  @media (max-width: map-get($global-breakpoints, xxl)) {
    @content;
  }
}

@mixin xxxl() {
  @media (min-width: map-get($global-breakpoints, xxxl)) {
    @content;
  }
}

@function bp-helper($bpName, $Flag, $Split: '', $breakpoints: $global-breakpoints) {
  @if $Flag == 'min' {
    $min: map-get($breakpoints, $bpName);

    @return if($min != 0, $min, null);
  }

  @if $Flag == 'max' {

  }

  @if $Flag == 'multiple' {

  }

  @if $Flag == 'check' {
    @return if(bpHelper($bpName, 'min') == null, '', '#{$Split}#{$bpName}');
  }
}

@mixin media-breakpoint-min($bpName) {
  $min: bp-helper($bpName, 'min');

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  }

  @else {
    @content;
  }
}
