/**
* Copyright (c) 2018 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

@mixin clearfix() {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}
