/**
* Copyright (c) 2018 - 2019 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

// The Grid System Helper
// Used by Grid System Facory for create columns
// This contains funcions, mixins and tools for division of Grid System Factory in modules.


@mixin make-columns($size, $columns: $grid-columns) {
  flex: 0 0 percentage($size / $columns);
  // Add a `max-width` to ensure content within each column does not blow out
  // the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
  // do not appear to require this.
  max-width: percentage($size / $columns);
}

@mixin make-container() {
  margin-left: auto;
  margin-right: auto;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  width: 100%;
}

//
// Make row configs
//

@mixin make-row() {
  display: flex;
  flex-wrap: wrap;
  
  //Create responsive rows
  @each $bpName in map-keys($global-breakpoints) {
    @if $bpName == 'xxxl' {
      @include media-breakpoint-max($bpName) {
        .columns.#{$bpName}-unstack>.column {
          flex: 1 1 0;
        }  
      }
    } @else {
      @include media-breakpoint-min($bpName) {
        .columns.#{$bpName}-unstack>.column {
          flex: 1 1 0;
        }  
      }
    }
  }

}
