/**
* Copyright (c) 2018 - 2019 The Nuinalp Authors. All rights reserved.
* Use of this source code is governed by a BSD-style license that can be
* found in the LICENSE file.
*/

// The Grid System factory
// Used by NUIverse to create the correct number of columns.
// It was also built to be included and function independently.

// Global mixin for create the all number of columns.

@mixin grid-system-factory {
  
  @for $i from 1 through $grid-columns {
    .column-#{$i} {
      @include make-columns($i, $grid-columns);
    }
  }
  
  @each $bpName in map-keys($global-breakpoints) {
  
    //Create a small Block Grids
    @for $i from 1 through $grid-columns {
      @if $bpName == 'sm' {
        .columns.#{$bpName}-bl-#{$i} .column {
          flex: 0 0 (100% / $i);
          max-width: (100% / $i);
        }
      }
    }

    @include media-breakpoint-min($bpName) {
      
      $check-name: bp-helper($bpName, 'check');
      
      .column.#{$check-name} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
        
      .column.#{$check-name}-expand {
        flex: 1 1 0;
      }

      @for $i from 1 through $grid-columns {
        .column.#{$check-name}-#{$i} {
          @include make-columns($i, $grid-columns);
        }
      }

      // Create others Block Grids 
      @for $i from 1 through $grid-columns {
        @if $bpName != 'sm' {
          .columns.#{$check-name}-bl-#{$i} .column {
            flex: 0 0 (100% / $i);
            max-width: (100% / $i);
            transition: #{$bpName};
          }
        }
      }
    }
  }
}
